<!DOCTYPE html>
<html ng-app="fileapp">
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="https://simplewebrtc.com/latest-v2.js"></script>
  </head>
  <body ng-controller="FileController">
    
    <div style="width:600px;height:auto;border:1px solid blue;float:left">
        <button ng-click="nextFunction()">Set shared folder</button> 
        
        <ul>
          <li ng-repeat="file in files track by $index" style="border:1px solid #ccc;list-style-type: none">
          {{file}}
          <input type="checkbox" name="fileIndex[$index]" style="float: right">
          </li>
        </ul>

        <button ng-click="peerSend()">Send</button> 
    </div>

    <div style="width:600px;height:auto;border:1px solid red;float:left">
        
        <ul>
          <li ng-repeat="file in peerFiles track by $index" style="border:1px solid #ccc;list-style-type: none">
          {{file}}
          <input type="checkbox" name="peerFileIndex[$index]" style="float: right">
          </li>
        </ul>

    </div>


    <script>
      // You can also require other files to run in this process
      require('./renderer.js')

    </script>
    
    <script src="app/directives/directives.js"></script>
    <script src="app/angular-app.js"></script>
  </body>

  


</html>
